
<div id="popup-background"></div>
    <div id="popup">
      <div class="close"></div>
      <div class="popup-content"></div>
    </div>

<header class="site-header">

  <div class="wrapper">


    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/assets/img/hiwr-20x20.png" alt="hiwr logo" class="Hywr" width="20" height="20"> Hiwr</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            <li><a href="/model">Model</a></li>
            <li><a href="/software">Software</a></li>
            <li><a href="/hardware">Hardware</a></li>
            <li><a href="/assembly">Assembly</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

  </div>

</header>
